sklearn
argparse
matplotlib
scipy
pyLDAvis
spacytextblob==0.1.7
pathlib==1.0.1
seaborn==0.11.1
nltk==3.5
numpy==1.19.4
tqdm==4.59.0
networkx==2.5
pandas==1.1.5
gensim==3.8.3
tensorflow==2.4.1
tensorflow-estimator==2.4.0
spacy==2.3.5
spacy-legacy==3.0.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl